<p>
    <strong>Recording Number:</strong>
    <%= recording.id %>
  </p>
  <p>
    <strong>Temp:</strong>
    <%= recording.temp %>
  </p>
 
  <p>
    <strong>Status:</strong>
    <%= recording.status %>
  </p>