<h3>Recording Info</h3>
<br>
<p>
  <strong>Temp:</strong>
  <%= @recording.temp %>
</p>

<p>
  <strong>Status:</strong>
  <%= @recording.status %>
</p>

<%= link_to 'Edit', edit_location_recording_path(@recording) %> |
<%= link_to 'Go Home', location_recording_path %>